
/* ===================================================================
 * # BUTTONS
 *
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    --btn-height            : var(--vspace-btn);
    display                 : inline-block;
    font-family             : var(--font-2);
    font-weight             : 400;
    font-size               : calc(var(--text-size) * 0.6667);
    text-transform          : uppercase;
    letter-spacing          : .3em;
    height                  : var(--btn-height);
    line-height             : calc(var(--btn-height) - 4px);
    padding                 : 0 3.6rem;
    margin                  : 0 0.4rem var(--vspace-0_5) 0;
    color                   : var(--color-btn-text);
    text-decoration         : none;
    text-align              : center;
    white-space             : nowrap;
    cursor                  : pointer;
    transition              : all .3s;
    background-color        : var(--color-btn);
    border                  : 2px solid var(--color-btn);
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background-color : var(--color-btn-hover);
    border-color     : var(--color-btn-hover);
    color            : var(--color-btn-hover-text);
    outline          : 0;
}

/* button primary
 */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
    background   : var(--color-btn-primary);
    border-color : var(--color-btn-primary);
    color        : var(--color-btn-primary-text);
}

.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus,
.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover {
    background   : var(--color-btn-primary-hover);
    border-color : var(--color-btn-primary-hover);
    color        : var(--color-btn-primary-hover-text);
}

/* button modifiers
 */
.btn.u-fullwidth,
button.u-fullwidth {
    width        : 100%;
    margin-right : 0;
}

.btn--small,
button.btn--small {
    --btn-height : calc(var(--vspace-btn) - 1.6rem);
}

.btn--medium,
button.btn--medium {
    --btn-height : calc(var(--vspace-btn) + .8rem);
}

.btn--large,
button.btn--large {
    --btn-height : calc(var(--vspace-btn) + 1.6rem);
}

.btn--stroke,
button.btn--stroke {
    background  : transparent !important;
    font-weight : 400;
    border      : 2px solid var(--color-btn-stroke);
    color       : var(--color-btn-stroke-text);
}

.btn--stroke:focus,
button.btn--stroke:focus,
.btn--stroke:hover,
button.btn--stroke:hover {
    background : var(--color-btn-stroke-hover) !important;
    border     : 2px solid var(--color-btn-stroke-hover);
    color      : var(--color-btn-stroke-hover-text);
}

.btn--pill,
button.btn--pill {
    padding-left  : 3.2rem !important;
    padding-right : 3.2rem !important;
    border-radius : 1000px !important;
}

/* =================================================================== 
 * # PRELOADER
 * 
 * 
 * -------------------------------------------------------------------
 * - markup:
 *
 * <div id="preloader">
 *    <div id="loader"></div>
 * </div>
 *
 * ------------------------------------------------------------------- */
#preloader {
    position        : fixed;
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    align-items     : center;
    background      : var(--color-preloader-bg);
    z-index         : 500;
    height          : 100vh;
    width           : 100%;
    opacity         : 1;
}

.no-js #preloader {
    display : none;
}

#loader {
    width   : var(--vspace-1_5);
    height  : var(--vspace-1_5);
    padding : 0;
    opacity : 1;
}

#loader:before {
    content           : "";
    border-top        : 4px solid var(--color-loader-light);
    border-right      : 4px solid var(--color-loader-light);
    border-bottom     : 4px solid var(--color-loader-light);
    border-left       : 4px solid var(--color-loader);
    -webkit-animation : load 1.1s infinite linear;
    animation         : load 1.1s infinite linear;
    display           : block;
    border-radius     : 50%;
    width             : 100%;
    height            : 100%;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform : rotate(0deg);
        transform         : rotate(0deg);
    }

    100% {
        -webkit-transform : rotate(360deg);
        transform         : rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform : rotate(0deg);
    }

    100% {
        transform : rotate(360deg);
    }
}

/* ------------------------------------------------------------------- 
 * ## page loaded
 * ------------------------------------------------------------------- */
.ss-loaded #preloader {
    opacity    : 0;
    visibility : hidden;
    transition : all .6s .9s ease-in-out;
}

.ss-loaded #preloader #loader {
    opacity    : 0;
    transition : opacity .6s ease-in-out;
}

/* --------------------------------------------------------------------
 * ## lists
 * -------------------------------------------------------------------- */
ol {
    list-style : decimal;
}

ul {
    list-style : disc;
}

li {
    display : list-item;
}

ol,
ul {
    margin-left : 1.6rem;
}

ul li {
    padding-left : .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin : 1.6rem 0 1.6rem 1.6rem;
}

ul.disc li {
    display    : list-item;
    list-style : none;
    padding    : 0 0 0 .8rem;
    position   : relative;
}

ul.disc li::before {
    content        : "";
    display        : inline-block;
    width          : 8px;
    height         : 8px;
    border-radius  : 50%;
    background     : var(--color-1);
    position       : absolute;
    left           : -.9em;
    top            : 11px;
    vertical-align : middle;
}

dt {
    margin : 0;
    color  : var(--color-1);
}

dd {
    margin : 0 0 0 2rem;
}

/* definition list line style 
 */
.lining dt,
.lining dd {
    display : inline;
    margin  : 0;
}

.lining dt+dt:before,
.lining dd+dt:before {
    content     : "\A";
    white-space : pre;
}

.lining dd+dd:before {
    content : ", ";
}

.lining dd+dd:before {
    content : ", ";
}

.lining dd:before {
    content     : ": ";
    margin-left : -0.2em;
}

/* definition list dictionary style 
 */
.dictionary-style dt {
    display       : inline;
    counter-reset : definitions;
}

.dictionary-style dt+dt:before {
    content     : ", ";
    margin-left : -0.2em;
}

.dictionary-style dd {
    display           : block;
    counter-increment : definitions;
}

.dictionary-style dd:before {
    content : counter(definitions, decimal) ". ";
}

/* --------------------------------------------------------------------
 * ## spacing
 * -------------------------------------------------------------------- */
fieldset,
button,
.btn {
    margin-bottom : var(--vspace-0_5);
}

input,
textarea,
select,
pre,
blockquote,
figure,
figcaption,
table,
p,
ul,
ol,
dl,
form,
img,
.video-container,
.ss-custom-select {
    margin-bottom : var(--vspace-1);
}